Proof Key for Code Exchange: PKCE Challenge in Authorization_Code flow

Grafana v6.5.2:
It seems current generic OAuth does support PKCE. I get an error: "code_challenge is required" during authentication.

Hello,

Would you be able to provide what you're trying to do, steps to reproduce, expected behavior and what happened?

If you take a look at the template of creating a new bug and fill out the information being asked for in that it will be easier for us to work to solve the issue you're experiencing:
https://github.com/grafana/grafana/issues/new?labels=type%3A+bug&template=1-bug_report.md

I am setting up a generic oauth authentication https://grafana.com/docs/grafana/latest/auth/generic-oauth/ to a PingFederate identity provider using Authorizatio_Code flow and client secret setup.  When I try to login I get a failure back from PingFederate requiring PKCE challenges. Other than the usual setup, I also have TLS_SKUP_VERIFY_INSECURE set.

Thank you, I'll try to replicate this 🙂

Looking a bit more at this: It doesn't look like Grafana supports PKCE, so this works as expected. The PKCE extension is primarily meant for applications which are unable to hold a secret, which doesn't apply to Grafana.

I couldn't find anything in the docs that would indicate that we support PKCE and the only other reference to PKCE+Grafana is in the closed feature request #17046.

The reason this would be good to have as some Identity Servers (out of my control) requires PKCE, so I am unable to set up the native OAuth in Grafana. This means I need to handle authentication in an authentication proxy service and set up Auth.Proxy settings as a possible workaround.

@sakjur , do you have any other suggestions for a workaround?

> The PKCE extension is primarily meant for applications which are unable to hold a secret

Not exactly. It can be seen as a simpler alternative flow to Hybrid. https://identityserver4.readthedocs.io/en/latest/topics/grant_types.html#interactive-clients

@VictorioBerra What you're saying is true, it's also true that PKCE is primarily meant for clients which are unable to keep their `client_secret` secret (see [RFC 7636](https://tools.ietf.org/html/rfc7636), or the list of preconditions attached below). There _are_ attack vectors that can be mitigated with PKCE applicable for server-side applications using the authorization code grant flow (such as Grafana), but those which I've seen described are quite outlandish (see https://nat.sakimura.org/2016/01/22/code-phishing-attack-on-oauth-2-0-rfc6749/ ).

That PKCE is a simpler alternative to the OIDC Hybrid flow isn't much of a rationale for anything unless we get a rationale for why we'd need to implement either of them.

I'd be in favor of adding PKCE to Grafana if there are IdP:s requiring it (that seems like a reasonable requirement). It's not my decision alone, but I could push for it.

```
   A number of pre-conditions need to hold for this attack to work:

   1. The attacker manages to register a malicious application on the
      client device and registers a custom URI scheme that is also used
      by another application.  The operating systems must allow a custom
      URI scheme to be registered by multiple applications.

   2. The OAuth 2.0 authorization code grant is used.

   3. The attacker has access to the OAuth 2.0 [RFC6749] "client_id" and
      "client_secret" (if provisioned).  All OAuth 2.0 native app
      client-instances use the same "client_id".  Secrets provisioned in
      client binary applications cannot be considered confidential.

   4. Either one of the following condition is met:

      4a. The attacker (via the installed application) is able to
          observe only the responses from the authorization endpoint.
          When "code_challenge_method" value is "plain", only this
          attack is mitigated.

      4b. A more sophisticated attack scenario allows the attacker to
          observe requests (in addition to responses) to the
          authorization endpoint.  The attacker is, however, not able to
          act as a man in the middle.  This was caused by leaking http
          log information in the OS.  To mitigate this,
          "code_challenge_method" value must be set either to "S256" or
          a value defined by a cryptographically secure
          "code_challenge_method" extension.

   While this is a long list of pre-conditions, the described attack has
   been observed in the wild and has to be considered in OAuth 2.0
   deployments.  While the OAuth 2.0 threat model (Section 4.4.1 of
   [RFC6819]) describes mitigation techniques, they are, unfortunately,
   not applicable since they rely on a per-client instance secret or a
   per-client instance redirect URI.
```

This is now required when using MSAL/Azure AD: https://developer.microsoft.com/en-us/microsoft-365/blogs/msal-js-2-0-supports-authorization-code-flow-is-now-generally-available/

Our SSO between Grafana and a separate webapp is now broken if we want to support Safari (and also newer versions of Chrome it seems although I have not confirmed this with absolute certainty). Are there any plans for supporting this in Grafana?

@sakjur 
> I'd be in favor of adding PKCE to Grafana if there are IdP:s requiring it

I think because it is simpler than hybrid, and quickly becoming the recommended default you will find it required more and more. I think there is big value in supporting that grant type.

> This is now required when using MSAL/Azure AD: https://developer.microsoft.com/en-us/microsoft-365/blogs/msal-js-2-0-supports-authorization-code-flow-is-now-generally-available/
> 
> Our SSO between Grafana and a separate webapp is now broken if we want to support Safari (and also newer versions of Chrome it seems although I have not confirmed this with absolute certainty). Are there any plans for supporting this in Grafana? Could this issue be re-opened?

Since Grafana is what Azure would call a "confidential web app" which uses the authorization code grant flow already, we shouldn't be affected by their recommendation to avoid implicit flow. The documentation for [Azure AD's auth code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) seems to agree with that (though they're specifying that it is recommended even for confidential web apps, which is certainly one point to the "implement PKCE" side of things).

Are you experiencing problems with Safari, Grafana, and Azure AD login? That's absolutely something you can open a bug for, please use the bug reporting template, https://github.com/grafana/grafana/issues/new?labels=type%3A+bug&template=1-bug_report.md . You can refer back to this issue as something that could be interesting to look at.


> > I'd be in favor of adding PKCE to Grafana if there are IdP:s requiring it
> 
> I think because it is simpler than hybrid, and quickly becoming the recommended default you will find it required more and more. I think there is big value in supporting that grant type.

Yes, seeing that Microsoft is recommending it for applications which are able to hold a secret as well as for different kinds of applications running in untrusted environments is definitely in favor of supporting PKCE. Another reason to do so (going back to the original report) is because something like a misconfigured PingFederate application which tries to enforce PKCE won't work with Grafana.

As for hybrid, I'll just refer back to what I wrote previously:

> That PKCE is a simpler alternative to the OIDC Hybrid flow isn't much of a rationale for anything unless we get a rationale for why we'd need to implement either of them.

I'll share this report internally to let some of my colleagues chime in with thoughts they might have based on these discussions.

> 
> 
> > This is now required when using MSAL/Azure AD: https://developer.microsoft.com/en-us/microsoft-365/blogs/msal-js-2-0-supports-authorization-code-flow-is-now-generally-available/
> > Our SSO between Grafana and a separate webapp is now broken if we want to support Safari (and also newer versions of Chrome it seems although I have not confirmed this with absolute certainty). Are there any plans for supporting this in Grafana? Could this issue be re-opened?
> 
> Since Grafana is what Azure would call a "confidential web app" which uses the authorization code grant flow already, we shouldn't be affected by their recommendation to avoid implicit flow. The documentation for [Azure AD's auth code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) seems to agree with that (though they're specifying that it is recommended even for confidential web apps, which is certainly one point to the "implement PKCE" side of things).

I admit that I'm not very well-versed in this issue, but when setting up our Azure AD B2C app to avoid implicit flow (and instead use auth code flow) as per the recommendation in the link I provided, we're getting this error when trying to log in to Grafana:

> AADB2C99059: The supplied request must present a code_challenge

Which sounds exactly like the problem the OP had.

@wishpishh Ah, thank you, I'll try out Azure AD to see if I'm able to replicate that.

In case it helps you find a workaround, I saw last Friday that Ping Identity has an option for [PKCE enforcement](https://docs.pingidentity.com/bundle/p14c/page/lyo1574199211420.html), so the original problem here could've been that that was set to `required` or `S256_required`.

> 
> 
> @wishpishh Ah, thank you, I'll try out Azure AD to see if I'm able to replicate that.
> 
> In case it helps you find a workaround, I saw last Friday that Ping Identity has an option for [PKCE enforcement](https://docs.pingidentity.com/bundle/p14c/page/lyo1574199211420.html), so the original problem here could've been that that was set to `required` or `S256_required`.

Let me know if I can help reproduce, this is kind of a big issue for us.

@wishpishh Thanks, I spent some time on this this Monday, but had some problems figuring out how to configure the many components of Azure AD B2C and since then I haven't had time for this. @alexanderzobnin do you happen to have Azure AD setup already?

@sakjur yea, I have Azure AD OAuth setup. I'll try to reproduce this issue.

I haven't replicated it yet due to complex setup (I need to configure Azure B2C first), but looks like PKCE might be a good addition to the OAuth because it can improve security even if we use Authorization Code Grant. That's mentioned in the go oauth2 library docs that you can add `code_challenge` to the request.
https://godoc.org/golang.org/x/oauth2#Config.AuthCodeURL

We need to investigate this a bit deeper to provide more detailed response.

@alexanderzobnin Any updates on this?

Same issue with IdentityServer

Sometimes that is not an option, ie. in an enterprise environment.

OAuth 2.1 will add PKCE as a requirement, I'm reopening this and submitted a couple of patches to get this into 8.3.