Should send e-mail with `Auto-Submitted: auto-generated`

**Why is this needed**:

E-mail is kind of a messy ordeal. Messages are often automatically replied to by automatic systems (think ticket systems or automatic vacation replies).

To give systems an indication if they should send automatic replies to e-mails, [RFC 3834](https://datatracker.ietf.org/doc/html/rfc3834) was setup a long time ago. By adding this header, every system will know that this e-mail was generated and there is no human on the other side.

**What would you like to be added**:

Send all e-mail from the alerting with an additional header:

```
Auto-Submitted: auto-generated
```

This header and value is specified in [section 5.2 of RFC 3834](https://datatracker.ietf.org/doc/html/rfc3834#section-5.2).

**Who is this feature for?**

Everyone using e-mail to send alerting information to user or automatic ticket systems.

Grafana supports adding custom static headers to emails

https://github.com/grafana/grafana/blob/f49b4d35f225b4f342edb3df6ce099cf97fb662f/conf/defaults.ini#L1046-L1048

https://github.com/grafana/alerting/blob/main/receivers/email_sender.go#L208-L211

did you try to configure it? 

We will consider adding it as a default but no promises. 

> Grafana supports adding custom static headers to emails
> did you try to configure it?

Ah, I did not see this. Seems this is only documented in the example config?


This is in our documentation as well: https://github.com/grafana/grafana/pull/94646

Like @yuri-tceretian mentions, we will consider setting this as default but can't guarantee it.